# Python / Virtual Environment
venv/
.venv/
__pycache__/
*.py[cod]

# Environment Variables & Secrets
.env
.env.local
*.pem

# Local Databases & Logs
*.db
*.sqlite3
*.log

# Next.js / Frontend
.next/
node_modules/
out/